* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Suburbia';
  src: url(./custom_font/XenophobiaNominal-RAxA.ttf);
}



section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Parallax-1 {
    background: url('./assets/sky.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.moon {
    background: url('./assets/moon.png') no-repeat center center;
    background-size: cover;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(0px);
    z-index: 1;
    transition: transform 0.1s ease-out;
}

.zenitsu {
    z-index: 2;
}

.zenitsu img {
    max-width: 300px;
    transform: translateY(0);
    transition: transform 0.5s ease-out;
}

.zenitsu h1 {
  padding-top: 3rem;
  color: rgba(245, 245, 245, 0.267);
  font-size: 8rem;
  font-family: 'Suburbia';
  font-weight: 100;
  z-index: 0;
}

.title {
    font-size: 6vw;
    font-weight: 100;
}

.box {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.box .rock-piece-1 {
  position: absolute;
  width: 50px;
  filter: blur(3px);
  right: 10px;
  bottom: -220px;
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}
.box .rock-piece-2 {
  position: absolute;
  width: 50px;
  filter: blur(3px);
  left: 30px;
  bottom: 0;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.5s ease-out;
}
.box .rock-piece-3 {
  position: absolute;
  width: 70px;
  filter: blur(3.5px);
  left: 100px;
  bottom: -50px;
  transform: translateY(0) rotate(-35deg);
  transition: transform 0.5s ease-out;
}
.box .rock-piece-4 {
  position: absolute;
  width: 30px;
  filter: blur(1.1px);
  left: 250px;
  bottom: 100px;
  transform: translateY(0) rotate(-35deg);
  transition: transform 0.5s ease-out;
}
.box .rock-piece-5 {
  position: absolute;
  width: 30px;
  filter: blur(1.1px);
  right: 148px;
  bottom: -10px;
  transform: translateY(0) rotate(-35deg);
  transition: transform 0.5s ease-out;
}


@media (max-width : 480px) {
    .title {
        font-size: 20vw;
    }
}
@media (max-width: 768px) {
  .box {
    margin: 3rem;
  }
}
@media (min-width: 768px) {
  .box {
    margin: 5rem;
  }
  .box {
    width: 80%;
  }
}
