* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    perspective: 1px;
    background-color: black;

}

section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.Parallax-1 {
    width:100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Parallax-1::before {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    background: url("./assets/sky.jpg") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}
.Parallax-1::after {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    background: url("outer-layer-blur.png") top center;
    background-size: cover;
}

.moon {
    position: absolute;
    width: 800px;
    height: 800px;
    background: url('./assets/moon.png') no-repeat center center;
    background-size: cover;
}

.zenitsu {
    position: absolute;
    max-width: 300px;
    background-image: url('./assets/zenitsu.png');
    background-size: cover;
}









/* 

html {
    height: 100vh;
    overflow: hidden;
  }
  body {
    width: 100vw;
    height: 100vh;
    margin:0;
    background: #222;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .section1, .section2 {
    width:100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
  }
  .section1::before {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    background: url("./assets/sky.jpg") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
  }
  .section1::after {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    background: url("outer-layer-blur.png") top center;
    background-size: cover;
  }
  .section1 .text {
    top:10%;
    transform: translateZ(-0.5px) scale(1.5,1.6) translate(-33%,10%);
  }
  .section2 {
    background: rgb(68,35,19);
  }
  .text {
    top:30%;
    left:50%;
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    font-size: 15vw;
    color:white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    transform: scale(1,1.1) translate(-50%, 10%);
  }
   */
  